@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/*
0 - 600px: phone
600-900px: tablet portrait
[1200-1800px] is where our normal styles apply
1800px+ : Big desktop

$breakpoint arguement chioces:
-phone
-tab-port
-tab-land
-big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px

*/

@mixin respond($breakpoint) {
  @if $breakpoint == 320568 {
    @media (max-height:35.5em),(max-width:20em) {@content}; //320px/568px
  }
  @if $breakpoint == phone-mini {
    @media (max-width:22.5em) {@content}; //360px
  }
  @if $breakpoint == 360640 {
    @media (max-height:40em),(max-width:22.5em) {@content}; //360px/640px
  }
  @if $breakpoint == 370 {
    @media (max-width:23.12em) {@content}; //370px
  }

  @if $breakpoint == 375667 {
    @media (max-height:40.69em),(max-width:23.44em) {@content}; //375px/667px
  }
  @if $breakpoint == 375812 {
    @media (max-height:50.75em),(max-width:23.44em) {@content}; //375px/812px
  }
  @if $breakpoint == 414 {
    @media (max-width:25.87em) {@content}; //414px
  }

  @if $breakpoint == 414736 {
    @media (max-height:46em),(max-width:25.88em) {@content}; //414px/736px
  }

  
  @if $breakpoint == 430 {
    @media (max-width:26.88em) {@content}; //430px
  }
  @if $breakpoint == 506 {
    @media (max-width:31.62em) {@content}; //506px
  }

  @if $breakpoint == 576 {
    @media (max-width:36em) {@content}; //576px
  }

  @if $breakpoint == phone {
    @media (max-width:37.5em) {@content}; //600px
  }
  @if $breakpoint == tab {
    @media (max-width:50em) {@content}; //800px
  }
  @if $breakpoint == 814 {
    @media (max-width:50.88em) {@content}; //814px
  }

  @if $breakpoint == tab-port {
    @media (max-width:56.25em) {@content}; //900px
  }
  @if $breakpoint ==915 {
    @media (max-width:57.19em) {@content}; //915px
  }
  @if $breakpoint ==928 {
    @media (max-width:58em) {@content}; //928px
  }
  @if $breakpoint ==920 {
    @media (max-width:57.5em) {@content}; //920px
  }
  @if $breakpoint ==915 {
    @media (max-width:57.19em) {@content}; //915px
  }
  @if $breakpoint ==907 {
    @media (max-width:56.69em) {@content}; //907px
  }
  @if $breakpoint == tab-portSmall {
    @media (max-width:58.75em) {@content}; //940px
  }
  @if $breakpoint ==952 {
    @media (max-width:59.5em) {@content}; //952px
  }

  @if $breakpoint == tab-portBig {
    @media (max-width:60.25em) {@content}; //964px
  }
  @if $breakpoint == 1000 {
    @media (max-width:62.5em) {@content}; //1000px
  }
  @if $breakpoint == 1050 {
    @media (max-width:65.62em) {@content}; //1050px
  }
  @if $breakpoint == 1104 {
    @media (max-width:69em) {@content}; //1104px
  }

  @if $breakpoint == 1230 {
    @media (max-width:76.87em) {@content}; //1230px
  }


  @if $breakpoint == tab-land {
    @media (max-width:75em) {@content}; //1200
  }

  @if $breakpoint == desktop {
    @media (max-width:80em) {@content}; //1280
  }


  @if $breakpoint == big-desktop {
    @media (min-width:112.5em) {@content}; //1800
  }

}
